
<h3>アドレスリストの変更</h3>

<%= form_for(@address_list, html: {class: 'form-horizontal'}) do |f| %>
  <% if @address_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address_list.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address_list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='control-group'>
    <%= f.label :title, class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :title %>
    </div> 
  </div>
  
  <div class='control-group'>
    <%= f.label :description, class: 'control-label' %>
    <div class='controls'>
      <%= f.text_field :description %>
    </div> 
  </div>
  <div class='control-group'>
    <div class="actions controls">
      <%= f.submit class: 'btn btn-primary' %>
      <%= link_to 'キャンセル', address_lists_path, class: 'btn' %>
    </div>
  </div>
<% end %>

