<h3>アドレス帳</h3>

<% if @address_list.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @address_list.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<fieldset>
  <legend>アドレス帳一覧</legend>
  <table class='table table-striped table-condensed'>
    <tr> 
      <th><%= AddressList.human_attribute_name('title') %></th>
      <th><%= AddressList.human_attribute_name('description') %></th>
      <th></th>
    </tr>
    <% @address_lists.each do |address_list| %>
      <tr id='address_list_<%= address_list.id %>'>
        <td class='list_title'>
          <%= link_to address_list.title, address_list_addresses_path(address_list) %>
        </td>
        <td class='list_desc'>
          <%= address_list.description %>
        </td>
        <td>
          <%= link_to '編集', edit_address_list_path(address_list) %>
          <%= link_to '削除', address_list_path(address_list), method: :delete,
                       data: { confirm: '削除しますか?' }, remote: true %>
        </td>
      </tr>
    <% end %>
  </table>
</fieldset>
<br />

<fieldset>
  <legend>
    <%= link_to_function '▶', '$("#disp").toggle(); $("#hide").toggle(); $("#entry-form").toggle()', id: 'disp' %>
    <%= link_to_function '▼', '$("#disp").toggle(); $("#hide").toggle(); $("#entry-form").toggle()', 
        id: 'hide', style: 'display:none' %>
    新規登録
  </legend>
  <%= form_for @address_list, url: {action: 'create'}, 
       html: {class: 'form-horizontal', id: 'entry-form', style: 'display:none'} do |f| %>
    <div class='control-group'>
      <%= f.label :title, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title %>
      </div>
    </div>
    
    <div class='control-group'>
      <%= f.label :description, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :description %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.submit '登録する', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</fieldset>

