<h3>アドレス帳</h3>

<fieldset>
  <legend>アドレス帳一覧</legend>
  <table class='table table-striped table-condensed'>
    <tr> 
      <th><%= AddressList.human_attribute_name('title') %></th>
      <th><%= AddressList.human_attribute_name('description') %></th>
    </tr>
    <% @address_lists.each_with_index do |address_list, i| %>
      <tr id='<%= "address_list_#{i}" %>'>
        <td class='list_title'>
          <%= link_to address_list.title, address_list_addresses_path(address_list) %>
        </td>
        <td class='list_desc'>
          <%= address_list.description %>
        </td>
      </tr>
    <% end %>
  </table>
</fieldset>
<br />
<fieldset>
  <legend>新規登録</legend>
  <%= form_for @new_list, url: {action: 'create'}, html: {class: 'form-horizontal'} do |f| %>
    <div class='control-group'>
      <%= f.label :title, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :title %>
      </div>
    </div>
    
    <div class='control-group'>
      <%= f.label :description, class: 'control-label' %>
      <div class='controls'>
        <%= f.text_field :description %>
      </div>
    </div>

    <div class='control-group'>
      <div class='controls'>
        <%= f.submit 'Create', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</fieldset>
