<h3><%= @address_list.title %>のアドレス一覧</h3>
<div>
  <%= link_to '新規アドレス登録', new_address_list_address_path, class: 'btn btn-primary' %>
</div>
<br/>

<table class='table table-bordered table-condensed'>
  <tr>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>電話番号</th>
    <th colspan='3'></th>
  </tr>

<% @addresses.each do |address| %>
  <tr id='address_row_<%= address.id%>'>
    <td><%= "#{address.last_name} #{address.first_name}" %></td>
    <td><%= address.email %></td>
    <td><%= address.phone %></td>
    <td><%= link_to '詳細', address_list_address_path(address.address_list_id, address) %> | 
        <%= link_to '編集', edit_address_list_address_path(address.address_list_id, address) %> | 
        <%= link_to '削除', address_list_address_path(address.address_list_id, address), method: :delete,
                     data: { confirm: '削除しますか?' }, remote: true %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @addresses %>

<br />

