<h1>Listing addresses</h1>

<table>
  <tr>
    <th>氏名</th>
    <th>メールアドレス</th>
    <th>電話番号</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @addresses.each do |address| %>
  <tr id='address_row_<%= address.id%>'>
    <td><%= "#{address.last_name} #{address.first_name}" %></td>
    <td><%= address.email %></td>
    <td><%= address.phone %></td>
    <td><%= link_to '詳細', address_list_address_path(address.address_list_id, address) %></td>
    <td><%= link_to '編集', edit_address_list_address_path(address.address_list_id, address) %></td>
    <td><%= link_to '削除', address_list_address_path(address.address_list_id, address), method: :delete, data: { confirm: '削除しますか?' }, remote: true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Address', new_address_list_address_path %>

