<h3>アドレス詳細</h3>

<p id="notice"><%= notice %></p>

<dl class='dl-horizontal'>
  <dt><%= Address.human_attribute_name(:last_name) %></dt>
  <dd><%= @address.last_name %></dd>

  <dt><%= Address.human_attribute_name(:first_name) %></dt>
  <dd><%= @address.first_name %></dd>

  <dt><%= Address.human_attribute_name(:email) %></dt>
  <dd><%= @address.email %></dd>

  <dt><%= Address.human_attribute_name(:phone) %></dt>
  <dd><%= @address.phone %></dd>

  <dt><%= Address.human_attribute_name(:organization) %></dt>
  <dd><%= @address.organization %></dd>

  <dt><%= Address.human_attribute_name(:country) %></dt>
  <dd><%= @address.country %></dd>

  <dt><%= Address.human_attribute_name(:postal_code) %></dt>
  <dd><%= @address.postal_code %></dd>

  <dt><%= Address.human_attribute_name(:prefecture) %></dt>
  <dd><%= @address.prefecture %></dd>

  <dt><%= Address.human_attribute_name(:street_address1) %></dt>
  <dd><%= @address.street_address1 %></dd>

  <dt><%= Address.human_attribute_name(:street_address2) %></dt>
  <dd><%= @address.street_address2 %></dd>
</dl>

<%= link_to '編集', edit_address_list_address_path(@address.address_list_id, @address) %> |
<%= link_to '戻る', address_list_addresses_path %>
